[push]
	default = current

[user]
	name = Alex Samuel
	email = alex@alexsamuel.net

[credential]
	helper = cache --timeout=360000

[core]
	excludesfile = ~/.gitignore

[color "diff"]
        whitespace = 

[alias]
        br = branch -vv
        co = checkout
        di = diff
        st = status -s
        brd = branch --sort committerdate --format '%(committerdate:short) %(refname)'
        recent = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/main}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/master}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind|branch|lastcommit|message|author\n\" && cat) | column -ts'|';}; r"

[push]
        default = current

[pull]
	ff = only

[init]
	defaultBranch = main

[status]
        showUntrackedFiles = all

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

