[push]
	default = simple

[user]
	name = Alex Samuel
	email = alex@alexsamuel.net

[credential]
	helper = cache --timeout=360000

[core]
	excludesfile = ~/.gitignore

[http]
        sslVerify = true
        sslCAinfo = /etc/ssl/certs/ca-certificates.crt

[color "diff"]
        whitespace = 

[alias]
        br = branch -vv
        co = checkout
        di = diff
        st = status -s

[pull]
	ff = only
