Emacs.FontBackend: xft
Emacs.foreground: grey89
Emacs.background: black
Emacs.cursorColor: rgb:60/95/85
Emacs.pointerColor: grey30
Emacs.borderColor: red
Emacs.borderWidth: 0
Emacs.internalBorder: 0
Emacs.Font: Menlo-10
Emacs.*.*.*.marginHeight: 1
Emacs.*.*.*.background: green
Emacs.*.*.*.foreground: white
Emacs.menuBar: off
Emacs.verticalScrollBars: off
Emacs.toolBar: 0

URxvt.font: xft:Inconsolata:9

! See: https://wiki.archlinux.org/index.php/Font_configuration
Xft.antialias: true
! Fonts look terrible if hinting is on.
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull  ! hint{none,slight,medium,full}
! 4K display physical DPI is around 162.
Xft.dpi:       100
Xft.lcdfilter: lcddefault
